<html>
    <head>
        <title></title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}  
        {% if messages %}  
              {% for message in messages %}  
                   <p>{{ message }}</p>  
              {% endfor %}  
        {% endif %}  
     {% endwith %}  
        <h1>Add a New Message</h1>
    <form method="post" action="/items">
        <label> Title:</label>
        <input id="title" name="title" type="text"/>
        <label> Content:</label>
        <input id="content" name="content" type="text"/>
        <input type="submit" />
    </form>
    </body>
</html>



